
body{
    background-image: url(image.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.navbar{
    background-color: rgba(14, 22, 54, 0.384);
    text-align: center;
}


.username {
    padding: 3px;
}

.password {
    padding: 3px;
}

.btn {
    padding: 10px;
}

.log-txt {
    text-align: center;
}
.button {
    text-align: center;
}
.login-form-container-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid rgba(19, 14, 14, 0.575);
    text-align: center;
}

h1{
	text-align: center;
	color: rgb(0, 0, 0);
	letter-spacing: 1px;
    font-family: sans-serif;
}